body {
  font-family: "Montserrat";
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: 900;
}

.container-fluid {
  padding: 3% 15% 5%;
}

#title {
  color: white;
  background-color: #ff4c68;
  text-align: left;
}

.title-img {
  width: 50%;
  transform: rotate(25deg);
  margin-left: 25%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 100;
}

/* Button */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* Features */
#features {
  padding: 7% 15%;
  background-color: white;
}

.feature-box {
  padding: 5%;
}

p {
  color: #8f8f8f;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c88;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonials-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Carousel */

.carousel-item {
  padding: 7% 15%;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.card-col {
  padding: 3% 2%;
}

@media (max-width: 992px) {
  .title-img {
    transform: rotate(0);
    position: static;
    margin: auto;
  }


  #title {
    text-align: center;
  }
}

/* Call to Action */
#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
}

.cta-message {
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer */
#footer {
  padding: 5% 15%;
  background-color: #fff;
}

.contact-icon {
  padding: 0.8rem;
}